/* .show {
    opacity: 1;
    transition: all 1.5s ease-in;
} */

/* .hide {
    opacity: 0;
    transition: all 1.5s ease-in;
} */

.show {
    animation: show-item 2s ease-in forwards;
}

.hide {
    animation: hide-item 2s ease-in forwards;
}

@keyframes hide-item {
    0% {
        opacity: 1;
        color: #f40;
    }

    50% {
        opacity: 0.5;
        color: #ccc;
    }

    100% {
        opacity: 0;
        color: #722a2a
    }
}

@keyframes show-item {
    0% {
        opacity: 0;
        color: #f40;
    }

    50% {
        opacity: 0.5;
        color: #ccc;
    }

    100% {
        opacity: 1;
        color: #722a2a
    }
}